@{
    ViewData["Title"] = "My Profile";
}

<h1>My Profile</h1>

<br />
<form method="POST" asp-controller="Account" asp-action="Logout">
    <button class="btn btn-lg btn-primary btn-block">Logout</button>
</form>
